<form method="post" action="{{ path('admin_organization_contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Tem certeza que deseja excluir este contato institucional?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button class="btn btn-outline-danger">Excluir</button>
</form>