<form method="post" action="{{ path('organization_delete', {'id': organization.id}) }}" onsubmit="return confirm('Tem certeza que deseja excluir esta organização?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organization.id) }}">
    <button class="btn btn-outline-danger">Excluir</button>
</form>
