APP_ENV=dev
APP_SECRET=troque-este-segredo

POSTGRES_DB=sigi_sd
POSTGRES_USER=sigi
POSTGRES_PASSWORD=sigi_dev_password

PGADMIN_DEFAULT_EMAIL=admin@sigi.dev.br
PGADMIN_DEFAULT_PASSWORD=sigi_pgadmin_dev

DATABASE_URL=postgresql://sigi:sigi_dev_password@postgres:5432/sigi_sd?serverVersion=16&charset=utf8
REDIS_URL=redis://redis:6379

CHATWOOT_SECRET_KEY_BASE=troque-este-segredo-chatwoot
CHATWOOT_FRONTEND_URL=http://chat.sigi.localhost
CHATWOOT_POSTGRES_DB=chatwoot_production
CHATWOOT_BASE_URL=http://chat.sigi.localhost
CHATWOOT_ACCOUNT_ID=
CHATWOOT_API_TOKEN=
CHATWOOT_INBOX_ID=

SIGI_CHATWOOT_URL=http://chat.sigi.localhost
SIGI_BOTPRESS_URL=http://bot.sigi.localhost
SIGI_TYPEBOT_URL=
SIGI_PORTAINER_URL=http://portainer.sigi.localhost
SIGI_BI_URL=
SIGI_DOCS_URL=

MAILER_SENDER_EMAIL=no-reply@sertaodigital.org
SMTP_ADDRESS=smtp.seudominio.com
SMTP_PORT=587
SMTP_USERNAME=usuario
SMTP_PASSWORD=senha
SMTP_AUTHENTICATION=login
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_OPENSSL_VERIFY_MODE=none

ENABLE_ACCOUNT_SIGNUP=false

EVOLUTION_API_KEY=troque-esta-chave-evolution

BOTPRESS_HOST=http://bot.sigi.localhost
OLLAMA_HOST=http://ollama:11434
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=llama3.1
QDRANT_URL=http://qdrant:6333
