APP_ENV=dev
APP_SECRET=troque-este-segredo

POSTGRES_DB=sigi_sd
POSTGRES_USER=sigi
POSTGRES_PASSWORD=sigi_dev_password

DATABASE_URL=postgresql://sigi:sigi_dev_password@postgres:5432/sigi_sd?serverVersion=16&charset=utf8
REDIS_URL=redis://redis:6379

CHATWOOT_SECRET_KEY_BASE=troque-este-segredo-chatwoot
CHATWOOT_FRONTEND_URL=http://chat.sigi.localhost
CHATWOOT_POSTGRES_DB=chatwoot_production

EVOLUTION_API_KEY=troque-esta-chave-evolution

BOTPRESS_HOST=http://bot.sigi.localhost
OLLAMA_HOST=http://ollama:11434
QDRANT_URL=http://qdrant:6333
