{% extends 'admin/layout.html.twig' %}

{% block title %}Editar Interação com Pessoa{% endblock %}

{% block main %}
    <h1 class="mb-4">Editar Interação com Pessoa</h1>

    {% include 'admin/person_contact_interaction/_form.html.twig' with {'form': form, 'button_label': 'Salvar'} %}
{% endblock %}
