<form method="post" action="{{ path('admin_person_contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Tem certeza que deseja excluir este contato?')" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button class="btn btn-sm btn-outline-danger">Excluir</button>
</form>
