<form method="post" action="{{ path('admin_person_delete', {'id': person.id}) }}" onsubmit="return confirm('Tem certeza que deseja excluir esta pessoa?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
    <button class="btn btn-outline-danger">Excluir</button>
</form>