{% extends 'admin/layout.html.twig' %}

{% block title %}Editar Contato Institucional{% endblock %}

{% block main %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Editar Contato Institucional</h1>
        {{ include('admin/organization_contact/_delete_form.html.twig') }}
    </div>

    {{ include('admin/organization_contact/_form.html.twig', {button_label: 'Salvar alterações'}) }}
{% endblock %}